
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

body{
    background-color: #E8BD0D;
    font-family: 'Montserrat Alternates', sans-serif;

}
img{
  display: block;
  height: 150px;
  width: 250px;
  margin: 30px auto;
  
}
.banner{
    background-color: #ffff;
    padding-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4) ;
}
h1{
    font-size: 90px;
    text-align: center;
    color: black;
   
}
p{
    color:gray;
    text-align: center;
    font-size: 26px;
    font-weight: 200;

}